[Unit]
Description=Flask App Demo

[Service]
Type=simple
ExecStart=/usr/local/bin/gunicorn --chdir /home/ec2-user/flask-app-mysql/ wsgi:app

[Install]
WantedBy=multi-user.target